extends layout

block content
    .col-md-12
      .signup
        a(href="/signup") Sign Up
      .createArticle
        a(href="/create_article") Create Article
      .login
        a(href="/login") Login
        