<div class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <!-- Password input-->
        <div class=" ">
            <label class="  control-label" for="passwordinput">Password Input</label>
            <div class=" ">
                <input id="passwordinput" name="passwordinput" placeholder="placeholder" class="form-control input-md" type="password">
                <span class="help-block">help</span>
            </div>
        </div>
        <!-- dropdown -->
        <div class=" ">
            <label class="  control-label" for="checkboxes">Inline Checkboxes</label>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Day <span class="icon-arrow-combo"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>01</li>
                    <li>02</li>
                    <li>03</li>
                    <li>05</li>
                    <li>06</li>
                    <li>07</li>
                    <li>08</li>
                    <li>09</li>
                    <li>10</li>
                    <li>04</li>
                    <li>04</li>
                </ul>
            </div>
        </div>
        <!-- Text input-->
        <div class=" ">
            <label class="control-label" for="textinput">Text Input</label>
            <input id="textinput" name="textinput" placeholder="placeholder" class="form-control input-md" type="text">
            <span class="help-block">help</span>
        </div>
        <!-- Search input-->
        <div class=" ">
            <label class="control-label" for="searchinput">Search Input</label>
            <input id="searchinput" name="searchinput" placeholder="placeholder" class="form-control input-md" type="search">
            <p class="help-block">help</p>
        </div>
        <!-- Prepended text-->
        <div class=" ">
            <label class="  control-label" for="prependedtext">Prepended Text</label>
            <div class="input-group">
                <span class="input-group-addon">prepend</span>
                <input id="prependedtext" name="prependedtext" class="form-control" placeholder="placeholder" type="text">
            </div>
            <p class="help-block">help</p>
        </div>
        <!-- Appended Input-->
        <div class=" ">
            <label class="  control-label" for="appendedtext">Appended Text</label>
            <div class="input-group">
                <input id="appendedtext" name="appendedtext" class="form-control" placeholder="placeholder" type="text">
                <span class="input-group-addon"><span class="icon-plus"></span></span>
            </div>
            <p class="help-block">help</p>
        </div>
        <!-- Prepended checkbox -->
        <div class=" ">
            <label class=" control-label" for="prependedcheckbox">Prepended Checkbox</label>
            <div class="input-group">
                <span class="input-group-addon">     
                    <input type="checkbox">     
                </span>
                <input id="prependedcheckbox" name="prependedcheckbox" class="form-control" placeholder="placeholder" type="text">
            </div>
            <p class="help-block">help</p>
        </div>
        <!-- Appended checkbox -->
        <div class=" ">
            <label class=" control-label" for="appendedcheckbox">Appended Checkbox</label>
            <div class="input-group">
                <input id="appendedcheckbox" name="appendedcheckbox" class="form-control" placeholder="placeholder" type="text">
                <span class="input-group-addon">     
          <input type="checkbox">     
      </span>
            </div>
            <p class="help-block">help</p>
        </div>
        <!-- Button Drop Down -->
        <div class=" ">
            <label class=" control-label" for="buttondropdown">Button Drop Down</label>
            <div class="input-group">
                <input id="buttondropdown" name="buttondropdown" class="form-control" placeholder="placeholder" type="text">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Action
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#">Option one</a></li>
                        <li><a href="#">Option two</a></li>
                        <li><a href="#">Option three</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Textarea -->
        <div class=" ">
            <label class="control-label" for="textarea">Text Area</label>
            <textarea class="form-control" id="textarea" name="textarea">default text</textarea>
        </div>
        <!-- Multiple Radios -->
        <!-- Button (Double) -->
        <div class=" ">
            <label class="control-label" for="button1id">Double Button</label>
            <button id="button1id" name="button1id" class="btn btn-success">Good Button</button>
            <button id="button2id" name="button2id" class="btn btn-danger" disabled>Scary Button</button>
        </div>
        <!-- File Button -->
        <div class=" ">
            <label class=" control-label" for="filebutton">File Button</label>
            <input id="filebutton" name="filebutton" class="input-file" type="file">
        </div>
        <!-- Button -->
        <div class=" ">
            <label class="  control-label" for="singlebutton">Single Button</label>
            <div class=" ">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">SAVE DRAFT</button>
                <button id="singlebutton" name="singlebutton" class="btn btn-primary" disabled>PUBLISH</button>
            </div>
        </div>
        <!-- Multiple Checkboxes -->
        <div class=" ">
            <label class="control-label" for="checkboxes">Multiple Checkboxes</label>
            <div class="checkbox">
                <label for="checkboxes-0">
                    <input name="checkboxes" id="checkboxes-0" value="1" type="checkbox"> Option one
                </label>
            </div>
            <div class="checkbox">
                <label for="checkboxes-1">
                    <input name="checkboxes" id="checkboxes-1" value="2" type="checkbox"> Option two
                </label>
            </div>
        </div>
        <!-- Select Multiple -->
        <div class=" ">
            <label class=" control-label" for="selectmultiple">Select Multiple</label>
            <select id="selectmultiple" name="selectmultiple" class="form-control " multiple="multiple">
                <option value="1">Option one</option>
                <option value="2">Option two</option>
            </select>
        </div>
        <!-- Select Basic -->
        <div class=" ">
            <label class="control-label" for="selectbasic">Select Basic</label>
            <div class="styled-select">
                <select>
                    <option value="" selected disabled>Day </option>
                    <option value="1">Option one</option>
                    <option value="2">Option two</option>
                </select>
                <span class="icon-arrow-combo"></span>
            </div>
        </div>
        <!-- Multiple Radios (inline) -->
        <div id="radio1" class=" ">
            <label class="control-label" for="radios">Inline Radios</label>
            <label class="radio-inline" for="radios-0">
                <input name="radios" id="radios-0" value="1" checked="checked" type="radio">
                <span class="radioBtn"></span> 1
            </label>
            <label class="radio-inline" for="radios-1">
                <input checked="" name="radios" id="radios-1" value="2" type="radio">
                <span class="radioBtn checked"></span> 2
            </label>
            <label class="radio-inline" for="radios-2">
                <input checked="" name="radios" id="radios-2" value="3" type="radio"> 3
            </label>
            <label class="radio-inline" for="radios-3">
                <input checked="" name="radios" id="radios-3" value="4" type="radio"> 4
            </label>
        </div>
        <!-- Multiple Checkboxes (inline) -->
        <div class=" ">
            <label class="control-label" for="checkboxes">Inline Checkboxes</label>
            <label class="checkbox-inline" for="checkboxes-0">
                <input name="checkboxes" id="checkboxes-0" value="1" type="checkbox"> 1
                <span class="checkBox"></span>
            </label>
            <label class="checkbox-inline" for="checkboxes-1">
                <input name="checkboxes" id="checkboxes-1" value="2" type="checkbox">
                <span class="checkBox"></span>
            </label>
            <label class="checkbox-inline" for="checkboxes-2">
                <input name="checkboxes" id="checkboxes-2" value="3" type="checkbox"> 3
            </label>
            <label class="checkbox-inline" for="checkboxes-3">
                <input name="checkboxes" id="checkboxes-3" value="4" type="checkbox"> 4
            </label>
        </div>
</div>
<!-- Single button dropdown-->
</fieldset>
</div>
